.DS_Store
node_modules
/.svelte-kit
/package
.vercel_build_output
.vercel
.env.development
.env
.env.development
.mastra
# Sentry Config File
.sentryclirc
/build
/dist
/scratch
ca.crt
ca.key
cert.crt
cert.key
/brain